/*  ================================
    UNIVERSAL SELECTOR (*)
    ================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 3;
  color: #000000;
  background-color: #dadada;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*  ================================
    ELEMENT SELECTORS
    ================================ */
h1 {
  font-size: 3.5rem;
  color: #ffffff;
  line-height: 1.8;
  margin-bottom: 1rem;
}
h2 {
  font-size: 6rem;
  color: #ffffff;
  line-height: 3;
  margin-bottom: 1rem;
}
h3 {
  font-size: 2rem;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 1rem;
  white-space: nowrap;
}
h4 {
  font-size: 5rem;
  color: #005cb9;
  white-space: nowrap;
}
h5 {
  font-size: 22px;
  color: #ffffff;
  white-space: nowrap;
}
h6 {
  font-size: 4rem;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 1rem;
  white-space: nowrap;
}
p {
  font-size: 2.8rem;
  line-height: 2;
  color: #ffffff;
}
p2 {
  font-size: 2.8rem;
  line-height: 2;
  color: #000000;
}
a {
  color: #e4002b;
}
a:hover {
  color: #5d22ff;
  text-decoration: underline;
}
label {
  color: #000000;
  white-space: nowrap;
}
nav {
  position: sticky;
  top: 0;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #ffffff;
}
nav ul li a {
  text-decoration: none;
  font-size: 2rem;
}
input[type="text"],
select {
  width: 300px;
  height: 40px;
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
}
button {
  height: 40px;
  font-size: 1rem;
  padding: 0 1rem;
}
index-btn {
  color: #fff;
  bottom: 10px;
  right: 10px;
  padding: 8px 10px;
  text-align: center;
  background: #005cb9;
}
/*  ================================
    CLASS SELECTORS
    ================================ */
.hero {
  background: url("images/pepsi bg.jpg") center / cover no-repeat;
  display: flex;
  justify-content: center;
  text-align: center;
}
.card {
  background: #ffffff;
  padding: 7rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #0066cc;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #004999;
}
.section {
  padding: 4rem 2rem;
}
.service {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.service input[type="text"] {
  flex: 1;
  margin-right: 1rem;
  width: 1rem;
}
.service button {
  flex-shrink: 0;
}
.site-title {
  font-size: 3rem;
  margin: 0;
}
.logo {
  margin-right: auto;
  width: 160px;
}
.logo2 {
  margin-right: auto;
  width: auto;
  height: 3.8rem;
}
.ceo {
  margin-top: 1.5rem;
  text-align: center;
}
.map {
  margin-top: 1.3rem;
  text-align: center;
}
.a2 {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
}
.a2:visited {
  color: #ffffff;
}
.promo-text {
  display: none;
  margin-top: 15px;
  padding: 10px;
  background: #004b93;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  font-size: 2rem;
}
.promotion input[type="radio"] {
  display: none;
}
.promotion label {
  display: inline-block;
  padding: 8px 14px;
  margin: 5px;
  background: #eee;
  border-radius: 20px;
  cursor: pointer;
  font-size: 2rem;
}
.promotion input[type="radio"]:checked + label {
  background: #e32934;
  color: white;
  width: auto;
}
.contact-card h6 {
  text-align: left;
}
.gender label {
  font-size: 3rem;
}
.form1 {
  text-align: left;
  font-size: 2rem;
}
.form1 input {
  text-align: left;
  font-size: 2rem;
  width: 60rem;
}
.form2 {
  text-align: left;
  font-size: 2rem;
}
.form2 input {
  text-align: left;
  font-size: 2rem;
  width: 62rem;
}
.form3 {
  text-align: left;
  font-size: 2rem;
}
.form3 #country {
  text-align: left;
  font-size: 2rem;
  width: 128rem;
}
.form4 {
  text-align: left;
  font-size: 2rem;
}
.form4 textarea {
  text-align: left;
  font-size: 3rem;
  height: 20rem;
  width: 150rem;
}
.form5 {
  text-align: center;
  font-size: 2rem;
}
.recon-promo label {
  display: block;
  padding: 1.5rem;
  background: #f5f5f5;
  border-radius: 12px;
  font-size: 2.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.recon-promo label:hover {
  background: #e4002b;
  color: #fff;
  transform: translateY(-5px);
}
.recon-promo a:hover {
  text-decoration: none;
}
.recon-promo a {
  text-decoration: none;
}
.promotion label {
  display: block;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  background: #f5f5f5;
  border-radius: 12px;
  font-size: 2.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.promotion label:hover {
  background: #e4002b;
  color: #fff;
  transform: translateY(-5px);
}

/*  ================================
    ID SELECTORS
    ================================ */
#header {
  background-color: #e4002b;
  color: #ffffff;
  padding: 1.5rem 2rem;
  display: flex;
}
#footer {
  margin-top: auto;
  text-align: center;
  background-color: #ffffff;
  padding: 1.5rem;
}
#footer2 {
  margin-top: auto;
  text-align: center;
  background-color: #005cb9;
  padding: 1.5rem;
}
#free:checked ~ .free-text {
  display: block;
}
#deal:checked ~ .deal-text {
  display: block;
}
#point:checked ~ .point-text {
  display: block;
}
/*  ================================
    PSEUDO-CLASS SELECTORS
    ================================ */
a:visited {
  color: #81091f;
}
